{% block subject %}
    Восстановление пароля на сайте {{ site_name }}
{% endblock subject %}

{% block text_body %}
    Вы получили это письмо, потому что Вы запросили сброс пароля для Вашего аккаунта на сайте {{ site_name }}.

    Пожалуйста, для восстановления пароля перейдите по ссылке ниже:
    {{ protocol }}://{{ domain }}/{{ url }}

    Спасибо, что выбрали наш сайт!
{% endblock text_body %}

{% block html_body %}

    <div style="font-family: Georgia sans-serif;margin-bottom: 40px;padding: 20px 20px 0;">
        <div style="display: flex;justify-content: space-between;padding-bottom: 20px;font-size: 22px;border-bottom: 1px solid #979797;">
            <div>Восстановление пароля на сайте {{ site_name }}</div>
        </div>
        <div style="padding: 20px 20px 0;border-bottom: 1px solid #979797;">
            <div style="font-size: 20px;margin-bottom: 20px;align-items: center;">
                <div style="margin-bottom: 10px;">Пожалуйста, для восстановления пароля перейдите по ссылке ниже:
                </div>
                <a href="{{ protocol }}://{{ domain }}/{{ url }}"
                   style="margin-bottom: 20px; font-size: 16px; word-break: break-all;" target="_blank">{{ protocol }}://{{ domain }}/{{ url }}</a>

            </div>
            <div style="font-size: 20px;margin-bottom: 20px;align-items: center;">
                <div style="margin-bottom: 10px;">На всякий случай дублируем адрес Вашей почты: {{ user.get_username }}</div>
            </div>
        </div>
        <div style="padding: 20px 0;font-size: 20px;">
            <div>Спасибо, что выбрали наш сайт!</div>
        </div>
    </div>

{% endblock html_body %}