.itemContainer {
    margin-bottom: 20px;
}

.basic {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.delete {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    display: block;
    cursor: pointer;
    outline: none;
}

.imgContainer {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img {
    max-width: 100%;
    max-height: 300px;
}

.info {
    width: 79%;
    padding: 25px 0;
}

.name {
    font-family: Georgia sans-serif;
    position: relative;
    font-size: 28px;
    margin-bottom: 15px;
}

.price {
    color: #646050;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Alegreya SC', serif;
}

.saleContainer {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.sale {
    font-size: 14px;
    opacity: 0.6;
    text-decoration: line-through;
    margin-left: 15px;
    font-family: 'Alegreya SC', serif;
}

.type {
    margin-top: 15px;
}

.typePrice {
    margin-top: 15px;
}

.description {
    font-weight: 500;
}

.descriptionTitle {
    font-family: Georgia sans-serif;
    font-size: 18px;
}

.text {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;
    white-space: pre-wrap;
    font-weight: 400;
    opacity: 0.6;
}

@media (min-width: 480px) and (max-width: 991px) {
    .name {
        font-size: 24px;
    }
}
@media (min-width: 480px) and (max-width: 991px) {
    .imgContainer {
        width: 33%;
    }
    .info {
        width: 66%;
    }
}
@media (max-width: 649px) {
    .imgContainer {
        width: 50%;
    }
    .info {
        width: 50%;
        margin-left: 10px;
    }
    .delete {
        right: 0;
        top: 0;
    }
}
@media (max-width: 479px) {
    .basic {
        flex-direction: column;
    }
    .delete {
        right: 0;
        top: 0;
    }
    .imgContainer, .info {
        margin-left: 0;
        width: 100%;
    }
}
